@import url('https://fonts.google.com/specimen/Orbitron');

* {
    box-sizing: border-box;
}

html{
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(#FFF));
    font-family:"Georgia";

}

header{
    text-align:left;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#999), to(#000));
    color: white;
    font-family: "Orbitron";

}  
h1{


}
#header{
    font-size:150px;
    display:inline-block;
    font-family: "Orbitron";


}

#login{

    font-size:40%;
    float:right;
    padding-top:120px;

}

body{ 
    background-color:rgb(90,90,90);
    margin-left:13%;
    margin-right:13%;
    padding-right:0px;
    padding-top:0;
    padding-bottom:0%;
    text-align:center;
    font-size:140%;
    color:white;
}


article{


    <!--       -->
    border-color:red;
    border-style: solid;
    border-width: 5px;
    overflow:hidden;





}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
    width: 100%; */


aside{
    float:left;
    background-color:rgb(180, 180, 180);
    width:20%;
    padding-right:40px;
    padding-bottom:1018px;
}

ul {
    tekst-decoratin:none;
    list-style-type:none; 
    font-family: "Orbitron";
    
}

img{
    float:left;
    margin:1%;
}

#Tekst{
    margin:4%;  
    color:white;
    tekst-align:left;
}

li{
    margin: 0 0 30px 0;
    font-size: 30px;
}

a{
    text-decoration:none;
    color:black;
}

section{
    *background: rgba(0,0,0,0.7);
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border: 50px solid rgb(0,0,0);
}

#nav li{
    display:inlineblock;
    margin: auto;
    float:left;
    background-color:rgb(150, 150, 150);
    border-right: 1px solid #bbb;
    font-size:20px;
    list-style-type:none; 
    padding:2% 4%;
    text-align:center;
    margin:auto;
}

h5{
    font-size:50%;
    padding-left:10%;
    padding-right:10%;
}

.col-1{width: 33.33%;}
.col-2 {width: 33.33%;}
.col-3 {width: 33.33%;}

[class*="col-"]{
    float: left;
    padding: 15px;
    border:1px solid white;
}

.row::after {
    content: "";
    padding: 15px 10px;
    clear: both;
    display: block;
}
footer {
    background-color:rgb(150, 150, 150);
    padding: 25px;
    height: 100%;
}

footer, .push {
    height: 50px;
    clear:both;
    width:100%;
    bottom:0;
    position:fixed;
}

.footerFloater {
    color: black;
    float: left;
    margin: 0 1.5%;
    width:20%;
}

.btn {	
    display: inline-block;
    margin-right: 10px;	
    color: black;
    text-decoration: none;
}

